/* reset code starts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
main {
    background-color: aqua;
    font-size: 16px;
    padding: 1rem;
}
select {
    margin: 1rem 1rem 2rem 1rem;
}
p {
    margin: 1rem;
}
.btn {
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.4rem 0.6rem;
    background-color: rgb(6, 93, 199);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.01rem;
}
.btn:hover {
    background-color: white;
    transition: all 0.3s;
    color: rgb(6, 93, 199);
    border-color: rgb(6, 93, 199);
}
